[build]
  publish = "public"
  command = "npm run build"
[build.environment]
  NODE_VERSION = "18"
  SHARP_IGNORE_GLOBAL_LIBVIPS = "1"
  YARN_VERSION = "1.22.4"
  YARN_FLAGS = "--no-ignore-optional"


